pkgbase = mcontrolcenter-git
	pkgdesc = MControlCenter is a Free and Open Source GNU/Linux application that allows you to change the settings of MSI laptops
	pkgver = r267.a23f483
	pkgrel = 2
	url = https://github.com/dmitry-s93/MControlCenter
	arch = x86_64
	license = GPL
	makedepends = cmake
	makedepends = make
	makedepends = qt6-tools
	makedepends = qt6-declarative
	depends = qt6-base
	depends = hicolor-icon-theme
	provides = mcontrolcenter
	conflicts = mcontrolcenter
	source = git+https://github.com/dmitry-s93/MControlCenter
	source = modprobe.d__mcontrolcenter-ec_sys.conf
	source = modules-load.d__mcontrolcenter-ec_sys.conf
	md5sums = SKIP
	md5sums = SKIP
	md5sums = SKIP

pkgname = mcontrolcenter-git
